@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    color: #302C2D;
    background-color: #F0ECE3;
}

/* header and top nav bar */

header {
    margin-top: 0;
    margin-bottom: 2%;
    overflow: hidden;
    border-bottom: solid 1px black;
    /* padding-right: 1%; */ /*this was to try and prevent scrollbar shifting on testimonials */
}

#company-logo {
    margin-left: 30px;
    font-size: 300%;
    display: inline;
    letter-spacing: 1px;
    text-decoration: none;
    float: left;
    color: #302C2D;
}

#menu, #company-logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 115%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: red;
}

#menu ul {
    list-style-type: none;
}

#menu p {
    display: inline;
    float: right;
}

.current-page {
    font-weight: bold;
}

#contact-us-tag {
    margin-right: 30px !important;
}

/* home page */ 

#hero-image-section {    
    height: 80%;
    position: relative;
}

#hero-image-div {
    width: 25%;
    height: auto;
    float: left;
    position: absolute;
    left: 6%;
    top: 15%;
    /* border: solid 1px red; */
}

#hero-image-section img {
    width: 100%;
}

#about-us, #home-page-links {
    float: right;
}

#about-us-div {
    width: 50%;
    float: right;
    margin-top: 5%;
    margin-right: 7%;
    /* border: solid 1px red; */
}

#about-us h2 {
    font-size: 230%;
    text-align: center;
}

#about-us p {
    text-align:center;
    padding-top: 2%;
    font-size: larger;
}

#about-us hr {
    width: 50%;               
    background-color:#000000;
    height: 1px;
    margin: 5% auto;
}

#link-div {
    height: 10%;
    width: 50%;
    float: right;
    margin-right: 7%;
}

.cta-links {
    width: 50%;
    height: 20px;
    display: inline-block;
    margin-top: 8%;
    text-align: center;
    font-size: larger;
}

.cta-links a {
    text-decoration: none;
    font-weight: bold;
}

.cta-links a:hover {
    color: red;
    text-decoration: underline;
}

#cta-paragraph {
    padding: 0 !important;
}

#services-and-prices {
    float: left;
}

#book-us {
    float: right;
}

/* home page links */

i {
    color: #302C2D;
}

#link-div {
    text-align: center;
    position: relative;
    top: 140px;
}

#link-div a {
    font-size: 300%;
    margin-right: 50px;
}

#link-div i:hover {
    color: red;
}

/* services */

#service-container {
    height: 80%;
    margin-top: 1%;
    margin-left: 10%;
    position: absolute;
}

.service-options {
    height: 25%;
    width: 70%;
    margin: 2% 10% 2% auto;
}

.service-options li {
    list-style-position: inside;
    font-size: large;
}

.service-options p {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: large;
}

.service-options h2 {
    font-size: 32px;
}

.icon-container {
    margin-top: 5%;
    margin-left: 5%;
    padding-right: 3%;
}

#service-container hr {
    width: 50%;               
    background-color:#000000;
    height: 1px;
    margin: 5% auto; /* this rule needs review */
}

.service-options, .icon-container {
    float: left;
}

/* review page */

#review-container {
    height: auto;
    width: auto;
    /* border: 1px solid red; */
    margin-left: 5%;
}

.review-content {
    text-align: right;
    padding: 2% 0;
    margin-bottom: 2%;
    /* border: 1px solid blue; */
    height: 25%;
    width: 70%;
    display: inline-block;
}

.review-content h2 {
    font-size: 48px;
}

.review-text {
    font-size: x-large;
    padding-top: 1%;
}

.star-container {
    display: inline-block;
    /* border: 1px solid green; */
    margin-left: 4%;
}

.review-name {
    font-size: x-large;
    margin-top: 3%;
    font-style: italic;
    font-weight: bold;
}

.star-container i {
    color: #b49b17;
}

/* contact us */

#contact-container {
    height: auto; /* consider changing this to 'auto' once content has filled or removing it */
    width: 75%;
    border: 1px solid red;
    margin: auto;
}

#contact-container h2, .contact-paragraph {
    text-align: center;
}

#contact-container h2 {
    font-size: 48px;
    margin-bottom: 2%;
}

.contact-paragraph {    
    font-size: 24px;
}

#contact-submit {
    text-align: center;
    display: block;
    background-color: #302C2D;
    color: #F0ECE3;
    padding: 10px 24px;
    font-family: inherit;
    font-size: 100%;
    border-radius: 4px;
}

#contact-form label {
    display: block;
    margin-top: 1%;
    border: 1px solid blue;
    font-size: 20px;
}

#contact-form input {
    display: block;
    margin-top: 3px;
    border: 1px solid brown;
    font-size: 20px;
}

#form-container {
    display: block;
    border: 1px solid green;
    padding-left: 10px;
}

.radio-group {
    display: inline-block !important;
    margin-top: 0 !important; /* need to figure the specificity issue here */
}

#message {
    display: inline-block;
}

#property-query {
    text-align: left;   
    margin-top: 1%; 
    font-size: 20px;
}